body {
    background: radial-gradient(circle, rgba(228,186,255,0.5) 0%, rgba(155,188,255,0.5) 100%);
    font-family: "Courier New", monospace;
    text-align: center;
    margin-top: 50px;
}

#todoContainer {
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    margin: auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

#header {
    margin-bottom: 20px;
}

#inputBox {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#inputButton {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

#inputButton:hover {
    background-color: #9eb7fd;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li {
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.editBtn,
.deleteBtn {
    float: right;
    cursor: pointer;
    margin-left: 10px;
    color: #ff6b6b;
}

.completed {
    text-decoration: line-through;
    color: gray;
    border-color: gray;
}
